# This file tells GitHub to ignore afiles in certain folders when using the linguist library

VasoTracker_Pressure_Monitor/* linguist-vendored
VasoTracker_Temperature_Controller/* linguist-vendored
VasoTracker_Vessel_Chamber/* linguist-vendored
VasoTracker Software/VasoTracker1.0.1/* linguist-vendored
VasoTracker Software/Source/MKL/* linguist-vendored
VasoTracker Software/Source/SampleData/* linguist-vendored
